@import '../../scss/constants.scss';
@import '../../scss/mixins.scss';
.input{
    margin: 1%;
    width: 98%;
    input{
        border:1px solid $fifth-color;
        border-radius: 5px;
        padding: 1%;
        height: 30px;
        width: 98%;
    }
}