@import '../../scss/constants.scss';
@import '../../scss/mixins.scss';
.button{
    background: none;
    border: 2px solid $quaternary-color;
    color: $quaternary-color;
    cursor: pointer;
    @include font-size(20);
    padding: 5px;
}