@import '../../scss/constants.scss';
@import '../../scss/mixins.scss';
.card{
    animation-duration: 0.5s;
    animation-name: bounceIn;
    border-radius: 5px;
    border: 1px solid $fifth-color;
    padding: 1%;
    margin-right:1%;
    margin-bottom:10px;
    position: relative;
    width: 46%;
    transition: all 0.5s ease;
    &:hover{
        transition: all 0.5s ease;
        transform: scale(1.02);
        box-shadow: 5px 5px #888888;
    }
    .creator{
        bottom: 5px;
        right: 5px;
        position: absolute;
        span{
            font-weight: bold;
            margin-right:5px;
        }
    }
    .date, .creator{
        @include font-size(10);
    }
    .desc{
        @include font-size(14);
        margin-bottom: 40px;
    }
    .title{
        @include font-size(12);
        font-weight: bold;
    }
    .date, .title {
        margin-bottom: 5px;
    }
}