@import '../../../scss/constants.scss';
@import '../../../scss/mixins.scss';
.createFeedContainer{
    .button{
        text-align: center;        
    }
    .button, .feedContainer{
        width: 100%;
    }
    .feedContainer{
        display: flex;
        flex-wrap: wrap;
        max-height: 100px;
        overflow-y: auto;
    }
    .feed{
        animation-duration: 0.5s;
        animation-name: bounceIn;
        background-color: $eight-color;
        border-radius: 5px;
        color: $primary-color;
        cursor: pointer;
        margin: 0.5%;
        padding: 5px;
        transition: all 0.5s ease;
        &:hover{
            transition: all 0.5s ease;
            transform: scale(1.02);
            box-shadow: 5px 5px #888888;
        }
    }

}