@import '../../scss/constants.scss';
@import '../../scss/mixins.scss';
.footer{
    background-color: $seven-color;
    border-radius: 5px;
    color: $primary-color;
    padding: 5px;
    @include font-size(32);

}